extends shared/layout

block content
  h1= title
  br
  h4 Author: #{author}
  p= date
  .front !{front}
  .body !{body}
  a(href = 'viewRaw?file=' + fileName).btn.btn-primary
    span.glyphicon.glyphicon-download
  
   
  
    
  
  
